.containerRoulette {
  margin: 20px 0 60px 0;
  position: relative;
  width: 270px;
  height: 270px;
}

.roulette {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0000ff;
  transform: rotate(0deg);
  transition: transform 1s ease;
  overflow: hidden; /* Garante que os segmentos fiquem dentro da roleta */
}

.roulette.spinning {
  animation: spin 3s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.segmento {
  position: absolute;
  width: 49%;
  height: 20.875%;
  background-color: #f39c12;
  color: #fff;
  text-align: center;
  left: -27px;
  top: 84px;
  font-size: 12px;
  font-weight: bold;
  transform-origin: 123% 91%;
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(26% 0%, 56% 30%, 126% 104%, 13% 94%);
  transition: 0.5s;
}
.segmento.active {
    background: black!important;
    color: yellow!important
}
.segmento:nth-child(even) {
  background-color: #e74c3c;
  z-index: -1;
}

.segmento p {
  margin: 0;
  font-size: 10px;
  transform: rotate(16deg);
  margin-left: 19px;
  margin-top: 16px;
}
.roleta-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
